{% extends 'bash/bash-index.html' %}
{% block head%}

{% endblock %}
{% block centent %}
{% load deploy_tag %}
<div id="content-header">
    <ol class="breadcrumb" style="background-color: #ffffff">
        <a href="/" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>Home </a>>
        <a href="/apps/{{ model_name }}/" class="tip-bottom" data-original-title="">{% build_project_verbose_name admin_class %}</a>>
        <a href="/apps/{{ model_name }}/ADD{% build_project_verbose_name admin_class %}" title="添加{% build_project_verbose_name admin_class %}" class="tip-bottom" data-original-title="">添加{% build_project_verbose_name admin_class %}</a>
    </ol>
    <div class="col-lg-12 class-title">
        <div class="ibox float-e-margins" id="all">
            <div class="quick-actions">
                <h4>添加{% build_project_verbose_name admin_class %}</h4>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" style="width: 90%">
            <div class="widget-box">
                <div id="generalTabContent" class="tab-content responsive">
                    <div id="alert-tab" class="tab-pane fade in active">
                         <form method="post">{% csrf_token %}
                            <div class="modal-body">
                                <div class="modal-body" >
                                     <form class="form-horizontal" method="post">{% csrf_token %}
                                    {% for field in form_obj %}

                                        <div class="form-group ">
                                            <label class=" span1" id="{{ field.name }}" style="width: 9%;font-size: 12px">{{ field.label }}：</label>
                                            {{ field }}
                                            <span style="color: red" id="{{ field.name }}_errors">{{ field.errors.0 }}  </span>
                                        </div>
                                        <br>
                                    {% endfor %}
                                     </form>
                                </div>
                                 <div class="form-group">
                                    <div class="span8">
                                        <input type="submit" class="btn btn-info" value="保存">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="note-tab" class="tab-pane fade" >
                        <p>请下载Excel文件, 按照格式填写主机信息, 上传导入. <a href="/asset/{{ app_name }}/{{ model_name }}/download/" style="color: #1a1ad2">点击下载模板</a></p>
                        <p></p>
                        <form id="upfile" action="/asset/{{ app_name }}/{{ model_name }}/upload/" method="post" enctype="multipart/form-data" target="file">
                            <input  type="file" name="upfile" />
                            <input type="submit" value="导入配置" class="btn-success btn btn-sm" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script src="/static/js/jquery.js"></script>
<script>

    $(function () {
        $("#upload").click(function () {
            document.getElementById('files').submit();
        })
    })

    $("#id_types").change(function () {
        new_id = $(this).val();
        heigths = document.getElementById('height');
        id_heigths = document.getElementById('id_height');
        console.log('newid',new_id)
        console.log('heigths',heigths)
        console.log('id_heigths',id_heigths)
        if (new_id > 1){
            heigths.style.display='none'
            id_heigths.style.display='none'
        }
        else {
            heigths.style.display='block'
            id_heigths.style.display='block'
        }
    })


</script>
{% endblock %}