<!DOCTYPE html>
<html lang="en">
<head>
<title>云计算项目列表</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/static/css/uniform.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/matrix-style.css" />
<link rel="stylesheet" href="/static/css/matrix-media.css" />
<link rel="stylesheet" href="/static/css/iconfont.css" />
<link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />/
<style type="text/css">
    table td:hover{
        display: block;
    }
    #text a:hover{
        background-color: #5258ef;
        display: inline;
    }
</style>
</head>

<body style="background-image: url('/static/img/index.jpg');background-size: cover;background-attachment:fixed ">
{% load deploy_tag %}

<div id="content" style=" background: none">
    <span style="margin-left: 70%;height: 10px"><a href="/apps/asset/list/" class="btn btn-success btn-mini">管理入口</a></span>
    <div class="row" style=" background: none">
        <div class="text-center" style="width: 73%;border-bottom: 0px solid">
        <h1 style="color: white">云计算项目列表

        </h1>

        </div>
    </div>

    <div class="row" style="padding: 1% 0px;margin-left: 5%;width: 70%">
        <div class="row-fluid">
            <div class="widget-content" style="width: 100%;border-bottom: 0px solid">
                <span class="span3" style="color: white;font-size: 18px;margin-left: 5%">项目列表</span>
                <span class="span8">
                    <form >
                        <div id="search" style="top: 100px; margin-right: 345px">
                        <input type="search" name="_q" value="{% if querysets.q_val %}{{ querysets.q_val }}{% endif %}"
                       placeholder="{% for s_field in admin_class.search_fields%} {% if s_field == 'ip' or s_field == 'domain'%} {% else %}{{ s_field }} {% endif %}{% endfor %}" PLACEHOLDER="搜索" />
                        <button style="height: 10%" type="submit" class="tip-bottom" data-original-title="Search"><i class="icon-search icon-white"></i></button>
                        </div>
                </form>
                </span>

            </div>
            <table class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr >
                        <th class='text-center' style="font-size: 15px;color: #000000">网站</th>
                        <th class='text-center'style="font-size: 15px;color: #000000" >名称</th>
                        <th class='text-center'style="font-size: 15px;color: #000000" >状态</th>

                    </tr>
                </thead>
                <tbody id="tbody" class="tab-content table-bordered" style="background-color: #d0d0d0;opacity: 0.7;overflow: auto;">
                    {% for row in querysets.querysets %}
                        <tr style="opacity: 1">
                            {% if row.http == 1 %}
                                <td style="text-align: center;font-size: 14px;font-weight: bold; ">
                                    <a href="https://{{ row.domain }}:{{ row.sport }}"  >
                                        {{ row.domain }}:{{ row.sport }}
                                    </a>
                                </td>
                                <td style="text-align: center;font-size: 14px">{{ row.name }}</td>
                            {% else %}
                                <td style="text-align: center;font-size: 14px;font-weight: bold; " id="text">
                                    <a href="http://{{ row.domain }}:{{ row.sport }}" style="color: #212121c4" >
                                        {{ row.domain }}:{{ row.sport }}
                                    </a>
                                </td>
                                <td style="text-align: center;font-size: 14px;color: #212121c4;font-weight: bold">{{ row.name }}</td>
                            {% endif %}
                            {% build_asset_code row.name admin_class %}
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <ul class="pagination">
                    <li class=""><a href="?_page=1{{ filter_condtions_string }}">首页 </a></li>
                    {% for p in querysets.paginator.page_range %}
                        {% get_abs_value p  querysets.querysets.number as i %}
                        {% if i < 3 %}
                            {% if p == querysets.querysets.number %}
                                <li class="active"><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} </a></li>
                            {% else %}
                                <li class=""><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <li class="">
                        <a  href="?_page={{ paginator.num_pages }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">尾页</a>
                    </li>
                    <li class="">
                        <a>总计 {{ querysets.querysets.paginator.num_pages }}页 共{{ querysets.querysets.paginator.count }}条</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script type="application/javascript">
    $(function () {
        $("tr .a").hover(function () {

        })
    })
    
    
</script>
</body>
</html>
